body, h1, label, input, select{
    margin: 0;
    padding: 0;
}
.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 40px solid maroon;
    border-radius: 10px;
    background-color: wheat;
}
table,th,td{
    background-color: white;
    border: 1px solid #333;
    border-collapse: collapse;
    width: 50%;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    font-weight: bold;
    margin-bottom: 5px;
}
input, select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
body{
    background-color: white;
    color: black;
}
h1{
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
.radio-group{
    display: block;
    margin-bottom: 5px;
}
.inline-btn{
            display: inline-block;
            padding: 10px 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
            float: right;
}